<p id="notice"><%= notice %></p>

<p>
  <b>Zip:</b>
  <%= @user.zip %>
</p>

<p>
  <b>When:</b>
  <%= @user.when %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
